<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979951250205-8lp2mat4b7oar3ospa22ka3ucq7c042c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979951250205-8lp2mat4b7oar3ospa22ka3ucq7c042c</string>
	<key>API_KEY</key>
	<string>AIzaSyAKxVJ51_0_CquaXwxH_PPBYk5q9Tf6AI0</string>
	<key>GCM_SENDER_ID</key>
	<string>979951250205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-cad4c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-cad4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979951250205:ios:8125f333c6ab0636e18ff4</string>
</dict>
</plist>